<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="./../assets/css/style.css" />
    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <title>php dischi v-2</title>
  </head>
  <body>
    <div id="app">
      <!-- Header -->
      <header>
        <div class="container-lg">
          <div id="navbar">
            <img src="./../assets/img/logo.svg" alt="Spotify Logo" />
            <div class="search-filters">
              <!-- Disc Genre Select -->
              <select @change="fetchDiscs" v-model="genreChoice">
                <option value="" selected>Seleziona un artista</option>
                <option v-for="genre in genreList" :key="genre" :value="genre">{{genre}}</option>
              </select>
            </div>
          </div>
        </div>
      </header>

      <!-- Main -->
      <main>
        <!-- Loader -->
        <div v-if="discs.length !== 6" class="loader">
          <strong>Discs List is loading...</strong>
        </div>
        <!-- Discs List -->
        <div v-else id="discs-list">
          <div class="container">
            <!-- TODO Se l'array risultante dal filtro di ricerca è >= 1 mostra i risultati -->
            <div class="row py-3">
              <div v-for="disc in discs" :key="disc.title" class="col py-3">
                <div class="disc-card">
                  <img :src="disc.poster" :alt="disc.title" />
                  <h6 class="disc-name">{{disc.title}}</h6>
                  <div class="artist">{{disc.author}}</div>
                  <div class="date">{{disc.year}}</div>
                </div>
              </div>
            </div>
            <!-- TODO Altrimenti mostra un avviso di "Nessun risultato trovato" -->
            <div>
              <h2 class="text-center text-light py-5">Non è stato trovato nessun risultato..</h2>
            </div>
          </div>
        </div>
      </main>
    </div>
    <!-- Script JS -->
    <script src="js/script.js"></script>
  </body>
</html>
