/* # Colors palette */
:root {
  --primary_color: #1e2d3b;
  --secondary_color: #2e3a46;
}

/* # Generics */
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary_color);
}

img {
  max-width: 100%;
  max-height: 100%;
}

select {
  width: auto;
  font-size: 0.8rem;
}

/* # Header */
header {
  height: 50px;
  padding: 0.5rem;
  background-color: var(--secondary_color);
}

#navbar {
  display: flex;
  justify-content: space-between;
}

#navbar img {
  width: 100px;
  height: 100%;
  filter: invert(66%) sepia(61%) saturate(632%) hue-rotate(85deg) brightness(94%) contrast(86%);
}

#navbar .search-filters {
  display: flex;
}

/* # Main */
.loader {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: white;
}

#discs-list .container {
  max-width: 800px;
}

#discs-list .col {
  flex-basis: 20%;
  flex-grow: 0;
}

/* | Disc Card */
.disc-card {
  height: 100%;
  text-align: center;
  background-color: var(--secondary_color);
  padding: 0.8rem;
}

.disc-card .disc-name {
  text-transform: uppercase;
  padding-top: 1rem;
  color: white;
}

.disc-card .artist,
.disc-card .date {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(119, 119, 119);
}

.disc-card .date {
  font-size: 0.7rem;
}
